<div class="container">

    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>
    <form>
        <div class="row row-margin">
            <div class="col-md-4">
                <div class="form-group">
                    <div class="col-md-2 text-right"><label for="formGroupExampleInput">From</label></div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" list="places" id="formGroupExampleInput" placeholder="Example input">
                        {{> countries}}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="col-md-2 text-right"><label for="formGroupExampleInput">To</label></div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" list="places" id="formGroupExampleInput" placeholder="Example input">
                        {{> countries}}
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-margin">
            <div class="col-md-4">
                <div class="form-group">
                    <div class="col-md-2 text-right"><label for="formGroupExampleInput">From</label></div>
                    <div class="col-md-10">
                        <input class="form-control" type="date" value="2011-08-19" id="from-date-input">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="col-md-2 text-right"><label for="formGroupExampleInput">To</label></div>
                    <div class="col-md-10">
                        <input class="form-control" type="date" value="2011-08-19" id="to-date-input">
                    </div>
                </div>
            </div>
        </div>


        <div class="row row-margin">
            <div class="col-md-2 col-md-offset-6 text-right">
                <button type="submit" class="btn btn-primary submit-btn">Submit</button>
            </div>
        </div>
    </form>
</div>

